# IDE
.buildpath
.project
.settings/
.idea
.idea/*
.vscode/
.tool-versions

# OS
.DS_Store
Thumbs.db
__MACOSX

# Docker
.env

# Node.js
.config/
.npm/
node_modules/

# Node.js development
*.err
*.log
tmp/
.ash_history
.env_prod
dist/style/screen.css

# TEMPORARY
.env.local
.env.harm
