input {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.track-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0;
    background: steelblue;
}

input[type="range"] {
    margin: 0;
    display: inline-block;
    height: 42px;
    &:focus {
        outline: none;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 42px;
    background: $primary-black;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -16px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 42px;
    background: $primary-black;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -16px;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: $neutral-grey2;
    cursor: pointer;
    margin: 16px 0;
    border-radius: 5px;
    position: relative;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: $neutral-grey2;
    cursor: pointer;
    margin: 16px 0;
    border-radius: 5px;
    position: relative;
}

::-ms-fill-lower {
    background: coral;
    height: 44px;
}

::-ms-fill-upper {
    background: peru;
    height: 44px;
}

::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    background: $primary-black;
    cursor: pointer;
    border-radius: 50%;
    margin: 4px;
}

::-ms-tooltip {
}

::-ms-track {
    height: 36px;
}

::-ms-ticks-before {
}

::-ms-ticks-after {
}
